{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login ToDo List{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card  auth-card">
                <div class="card-body">
                    <h4 class="card-title text-center">Login To Do List</h4>
            
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
            
                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>

                    <p class="change-form-p">Don't have on account? Create one <a href="/accounts/register">Here!</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}